In [7]:
month=int(input('enter month as number'))
if month == 12 or month == 1 or month == 2:
    print('winter')
elif month == 3 or month == 4 :
    print('summer')
else :
    print('spring')

enter month as number7
spring

# ascending and descending

In [17]:
a=int(input('enter first number'))
b=int(input('enter second number'))
c=int(input('enter third number'))
if a>b and b>c:
    print('sequence is in descending')
elif a<b and b<c:
    print('sequence is in ascending')
else:
    print('not in sequence')

enter first number3
enter second number2
enter third number1
sequence is in descending

# rishta acceptance program

In [22]:
age = int(input('enter candidiate age'))
if(age>15):
    print('accepted')

else:
    ('try again')

enter candidiate age61
accepted


# tax


# calculator

In [ ]:
def add(val1,val2):
    return val1+val2
def subtract(val1,val2):
    return val1-val2
def multiply(val1,val2):
    return val1*val2
def divide(val1,val2):
    return val1/val2
print('click 1 for add')
print('click 2 for subtract')
print('click 3 for multiply')
print('click 4 for divide')
choice=input('input operator')
num1=int(input('input first number'))
num2=int(input('input second number'))

if choice=='1':
    print(add(num1,num2))
elif choice=='2':
    print(subtract(num1,num2))
elif choice=='3':
    print(multiply(num1,num2))
elif choice=='4':
    print(divide(num1,num2))
else:
    print('syntex error')

In [29]:
pas = input('enter password')
if len(pas)>8:
    print('strong password')
else:
    print('weak password')

enter password1234567890
strong password

# Dictionary

In [18]:
#create a dic in which u have to store a students name and its marks

stud_lst={'syed':85,
      'rouhan':90,
      'ali':56,'ahmed':55}
for key,value in stud_lst.items():
    if value > 60:
        print(key,value,"pass")
    else:
        print(key,value,"fail")

syed 85 pass
rouhan 90 pass
ali 56 fail
ahmed 55 fail

In [19]:
for values in stud_lst.values():
    print(value)

55
55
55
55

In [17]:
stud_lst

{'syed': 85, 'rouhan': 90, 'ali': 56, 'ahmed': 45}

In [31]:
#linear search

keyword = 'ahmed'
for key in stud_lst.keys():
    if keyword==key:        #we can also use this form in place of if else condition
        print("matched")
        found = True
if found==False:
    print("not matched")

matched

In [35]:
stud_lst['asif']=87

In [36]:
print (stud_lst)

{'syed': 85, 'rouhan': 90, 'ali': 56, 'ahmed': 55, 'asif': 87}

In [37]:
stud_lst['ahmed']=90

In [38]:
stud_lst

{'syed': 85, 'rouhan': 90, 'ali': 56, 'ahmed': 90, 'asif': 87}

In [45]:
stud_lst={'key':{
    'name':'umair',
    'age':19,
    'marks':89
},
'key1':{
    'name':'sumair',
    'age':29,
    'marks':79
},
'key2':{
    'name':'jumair',
    'age':89,
    'marks':59
}}

In [51]:
print(stud_lst['key1'])

{'name': 'sumair', 'age': 29, 'marks': 79}

In [52]:
del stud_lst['key']

In [53]:
stud_lst

{'key1': {'name': 'sumair', 'age': 29, 'marks': 79},
 'key2': {'name': 'jumair', 'age': 89, 'marks': 59}}

In [59]:
stud_lst['key']='name: umair','age: 15','marks: 45'

In [60]:
stud_lst

{'key1': {'name': 'sumair', 'age': 29, 'marks': 79},
 'key2': {'name': 'jumair', 'age': 89, 'marks': 59},
 'key': ('name: umair', 'age: 15', 'marks: 45')}

In [62]:
def add(num1,num2):   #add through def
    return num1+num2
print(add(3,13))

16

In [63]:
def nTimes(value,n):
    return value*n
print(nTimes(2,6))

12

# Capitilaizing first letter

In [9]:
def capitilaize_first_letter(str):
    a=str[0]
    b=str[1:]
    return a.upper()+b.lower()

In [10]:
capitilaize_first_letter("rouhan")

'Rouhan'

In [11]:
def capitilaize_all_letters(str):
    a=str[0]
    b=str[1:]
    return a.upper()+b.upper()


capitilaize_all_letters("rouhan")

'ROUHAN'

In [27]:
def camel_case(name):
    
    words = name.split(' ')
    
    output = words[0].lower()
    
    for w in words[1:]:
        output += capitilaize_first_letter(w)
      
    return output

In [29]:
camel_case('name of elephant')

['of', 'elephant']
of
elephant

'nameOfElephant'

In [30]:
camel_case('syed rouhan ali')

['rouhan', 'ali']
rouhan
ali

'syedRouhanAli'

In [55]:
def male_female(name : str):
    if name[2].lower() == "h":
        return name+" is female"
    else:
        return "male"

In [62]:
print(male_female("syed"))
print(male_female("rouhan"))
print(male_female("rahfa"))

male
male
rahfa is female

In [58]:
def f(a,b):
    return a-b

In [46]:
f(3,2)

1

In [63]:
f(b=3,a=2)

-1

In [72]:
def square():
    print('___________')
    print('|\ |   | /|')
    print('| \|   |/ |')
    print('|  \   /  |')
    print('|  |\ /|  |') 
    print('|  | \ |  |')
    print('|  |/ \|  |')
    print('|  /   \  |')
    print('| /|   |\ |')
    print('|/_|___|_\|')

In [73]:
(square())

___________
|\ |   | /|
| \|   |/ |
|  \   /  |
|  |\ /|  |
|  | \ |  |
|  |/ \|  |
|  /   \  |
| /|   |\ |
|/_|___|_\|

In [79]:
def product(*num): #pehchan hai variable ki
    p=1
    for n in num:
        p*=n
    return p

In [80]:
product(3,8,2)

48

In [88]:
def team(*points):
    t=0
    for p in points:
        print(p)

In [89]:
team(10,7,11,15,13)

10
7
11
15
13

In [99]:
def print_teams(**teams):
    print(teams)

In [100]:
print_teams(Pakistan=10,  India=22)

{'Pakistan': 10, 'India': 22}

In [101]:
from maths import sqrt
def solve(**args):
    a=args['a']
    b=args['b']
    c=args['c']
    d=args['d']
    d=b*b-4*a*c
    
    if(d<0):
        print("no real solution")
    else:
        x1=(-b+sqrt(d))/(2*a)
        x2=(-b-sqrt(d))/(2*a)
        print(x1,x2)

ModuleNotFoundError: No module named 'maths'

# oop

In [73]:
class student :
    def __init__(self,n,a):
        self.name = n
        self.__age = a
    def setAge(self, a):
        if(a>0):
            self.__age = a
        print(a)
    def getAge(self):
        return self.__age
        
    def enroll(self):
        print("student enrolled",self.name,self.__age)
    def exam(self):
        print("giving exam" , self.name , self.__age)

In [74]:
std1.exam()

giving exam rouhan 19

In [75]:
std1=student("rouhan",19)
std1.enroll()

student enrolled rouhan 19

In [76]:
std3 = student()

TypeError: __init__() missing 2 required positional arguments: 'n' and 'a'

In [77]:
std1.exam()

giving exam rouhan 19

In [79]:
std1.setAge(10)

10

In [80]:
std1.getAge()

10